:root {
    --background-color: #3253e2;
    --text-color: #fffaf0;
    --primary-font: 'Lato', sans-serif;
    --primary-font-weight: 400;
    --header-font-color: #ce2020;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 10px;
    padding: 20px;

}

h1 {
    color: var(--header-font-color);
    text-align: center;
    text-decoration: underline;
    text-decoration-color: black;
}

.button_primary {
    background-color: yellow;
    border: 2px solid black;
    border-radius: 25px;
    color:black;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;
}

.button_primary:hover {
    opacity: 0.9;
    background-color: red;
    color: black;
    width: 200px;
    height: 80px;
    transition: 1s;
}