:root {
    --background-color: #98a5df;
    --text-color: #fffaf0;
    --primary-font: 'Lato', sans-serif;
    --primary-font-weight: 400;
    --header-font-color: #aa1e1e;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 10px;
    padding: 20px;

}

h1 {
    color: var(--header-font-color);
    text-align: center;
    text-decoration: underline;
    text-decoration-color: black;
}

.button_primary {
    background-color: yellow;
    border: 2px solid black;
    border-radius: 25px;
    color:black;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;
}

.button_primary:hover {
    opacity: 0.9;
    background-color: red;
    color: black;
    width: 200px;
    height: 80px;
    transition: 0.5s;
}

.modal p {
    margin-bottom: 0;
    color: black;
    text-align: center;
}

.modal-header {
    background-color: #2896c9;
}

.modal-body {
    background-color: #2896c9;
    text-align: center;
}

.modal-footer {
    background-color: #2896c9;
    text-align: center;
}

h2 {
    text-align: center;
}